mini projeto de formulário no excel e email.json
{
  "name": "mini projeto de formulário no excel e email",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Entre em Contato",
        "formDescription": "Formulário de Contato do Suporte Técnico ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nome ",
              "placeholder": "Digite seu nome completo ",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "fieldName": "Digite seu email ",
              "requiredField": true
            },
            {
              "fieldLabel": "Mensagem ",
              "fieldType": "textarea",
              "placeholder": "Informe a sua dúvida ",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -752,
        -32
      ],
      "id": "386af39e-1acf-4b4a-9b2f-a525b2e83064",
      "name": "formulário de inscrição",
      "webhookId": "f42bf823-dd1d-4119-98f5-afba0b003256"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1wdKwXAkijoUBF33QXN3duOYU4w2yfl8t3stA81lZMH8",
          "mode": "list",
          "cachedResultName": " Emails teste  para automção de forms",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wdKwXAkijoUBF33QXN3duOYU4w2yfl8t3stA81lZMH8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wdKwXAkijoUBF33QXN3duOYU4w2yfl8t3stA81lZMH8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nome ",
              "displayName": "Nome ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Digite seu email ",
              "displayName": "Digite seu email ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mensagem ",
              "displayName": "Mensagem ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "formMode",
              "displayName": "formMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -432,
        -144
      ],
      "id": "1dc45157-4b5b-407a-b38e-a6cd88daa448",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KU7PFGgTJHsh9Tmt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Digite seu email '] }}",
        "subject": "Respostas de problema ",
        "emailType": "text",
        "message": "=Olá {{ $json['Nome '] }},\n\nEsperamos que esteja tudo bem.\n\nMeu nome é Marcos e faço parte da equipe de Suporte Técnico. Estou entrando em contato em relação ao problema reportado por você.\n\nDescrição do problema:  \n> [{{ $json['Mensagem '] }}]\n\nApós análise inicial, identificamos possíveis causas para a situação e já iniciamos as ações necessárias para resolução. Nossa equipe está trabalhando para normalizar o funcionamento o mais rápido possível.\n\nSeguimos acompanhando o caso de perto e retornaremos com atualizações assim que houver progresso.\n\nAgradecemos pela sua paciência e colaboração.\n\n---\n\nAtenciosamente,  \nMarcos  \nEquipe de Suporte Técnico  \nFofinLTDA  \n📞 89920922",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -128,
        -192
      ],
      "id": "520d0042-95d7-47c8-82b3-bfe091bad226",
      "name": "Send a message",
      "webhookId": "2747fa29-c10a-4d22-b9ff-c80d84397826",
      "credentials": {
        "gmailOAuth2": {
          "id": "FQwAKp4gnzWgf5l6",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "formulário de inscrição": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8f95b387-de08-4f3c-bd42-986939d19917",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "87d1aad568c2503edc63b03ab90082238bdbe9af84e93c15f75c9c554ab6fabc"
  },
  "id": "OxvFRqSEb9hQj8rI",
  "tags": []
}