Multi agentes de IA.json
{
  "name": "Multi agentes de IA",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -368,
        -64
      ],
      "id": "98f17900-ef8a-4b4f-bf94-67da031a1380",
      "name": "receber mensagens",
      "webhookId": "9fc6b1f7-ea7b-4c79-a071-72b0d2ad0c80",
      "credentials": {
        "telegramApi": {
          "id": "vTCXl0oFXE2DxvGq",
          "name": "recebimento de mensagens"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1592c64d-4621-493a-9da9-93b5a4f84272",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        -64
      ],
      "id": "ef6ae7fa-1bd2-4045-a4fa-11d018f6fe98",
      "name": "If"
    },
    {
      "parameters": {
        "content": "criar um bot do Telegram(verificar o recebimento de mesagens), verificar se a mensagem é um texto ou um aúdio\n",
        "height": 240,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        -144
      ],
      "typeVersion": 1,
      "id": "164e01c9-94e9-41e5-8ee5-94d440ab59dd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        64,
        192
      ],
      "id": "6f8a4f91-dd71-46e9-8efa-a4b6b3affd1a",
      "name": "Get a file",
      "webhookId": "03796ca6-6e1f-42c4-87e6-79d3015ebda6",
      "credentials": {
        "telegramApi": {
          "id": "vTCXl0oFXE2DxvGq",
          "name": "recebimento de mensagens"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        224,
        192
      ],
      "id": "7629ee0a-2fd6-4664-a573-ad7084897544",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "lA4C9cVl7Qb5axs1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "pegar o aúdio e fazer a sua trasnscrição ",
        "height": 208,
        "width": 432,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        128
      ],
      "typeVersion": 1,
      "id": "31c408b2-dd80-4a7d-b55f-c4922d11dcac",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7bd8706b-7597-4301-ba18-38f26788b523",
              "name": "Mensagem de texto ",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        192
      ],
      "id": "1fb1a30a-9251-4974-b844-aa8bd04a28ba",
      "name": "Armzenar informações(orgazinar)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7bd8706b-7597-4301-ba18-38f26788b523",
              "name": "Mensagem de texto ",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -144
      ],
      "id": "89bab821-08ce-4f2a-bea6-6676aac09858",
      "name": "Armzenar informações(orgazinar)1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Mensagem de texto '] }}",
        "options": {
          "systemMessage": "# Identidade\nVocê é a Sofia, Gerente de Atendimento da Hashtag Capital, um escritório de assessoria de investimentos de alta performance.\n\nSua função é EXCLUSIVAMENTE:\n1. Classificar a intenção do cliente com base na mensagem.\n2. Acionar a ferramenta (especialista) correspondente.\n3. Atuar como um espelho: A ferramenta vai gerar uma resposta. O seu trabalho é pegar essa resposta e entregá-la ao usuário exatamente como ela veio, sem tirar nem por.\n\n# Regra de Ouro (CRÍTICO - Roteador Invisível)\n- NUNCA responda com frases próprias como \"Vou verificar com o setor...\" ou \"Aguarde um momento\".\n- NUNCA narre o que você está fazendo.\n- NUNCA tente resolver o problema sozinho (exceto em saudações simples).\n\nO cliente deve sentir que foi atendido imediatamente pelo especialista da área.\n\n# Seus Especialistas (Tools)\n1. AgenteFinanceiro:\n   - Assuntos: Financeiro, 2ª via de boleto, pagamentos pendentes.\n   - Ação: Use para questões operacionais e burocráticas (pagamentos).\n\n2. AgenteSuporte:\n   - Assuntos: Dúvidas TÉCNICAS e TEÓRICAS de mercado financeiro. \"O que é Selic?\", \"Como funciona FII?\", \"Diferença de CDB e LCI\", etc\n   - Ação: Use para educação financeira, tirar dúvidas de conceitos.\n\n3. AgenteCS:\n   - Assuntos: RELACIONAMENTO e AGENDAMENTO. \"Quero investir\", \"Marcar reunião\", \"Revisar carteira\", \"Falar com assessor\", \"Perfil de investidor\".\n   - Ação: Use quando o cliente demonstra intenção de agir, investir ou quer contato humano.\n\n# Procedimento de Resposta\n1. Saudação (Apenas \"Oi/Olá\"): Se o usuário disser APENAS uma saudação, responda: \"Olá! Sou a Sofia, Gerente de Atendimento da Hashtag Capital. Posso te direcionar pra Assuntos Financeiros, Dúvidas de Mercado (Suporte) ou Agendamento com Assessor. Como posso te ajudar hoje?\"\n\n2. Solicitação Específica: Se o usuário já enviou a dúvida, acione a ferramenta correspondente imediatamente.\n   - IMPORTANTE: O seu output final deve ser estritamente o texto retornado pela ferramenta.\n\n3. Dúvida: Se não souber classificar, chame o `AgenteCS`.\n\n# TRATAMENTO DE ERRO (IMPORTANTE) Se a ferramenta (sub-agente) retornar a mensagem exata `##RESET##`, isso significa que ela não conseguiu resolver o pedido. NESSE CASO, NÃO ENVIE `##RESET##` PARA O USUÁRIO. Em vez disso, assuma o controle e responda: \"Desculpe, poderia explicar melhor sua dúvida?\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        912,
        -144
      ],
      "id": "e516c570-162f-45b1-bcc9-5b32520a555f",
      "name": "Gerente das outras IAS"
    },
    {
      "parameters": {
        "content": "O gerente vai entender as demandas e passar para os proximos gerentes \n",
        "height": 272,
        "width": 416,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        -224
      ],
      "typeVersion": 1,
      "id": "dc29e739-4d4a-4ca2-b226-048459c61c31",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        816,
        208
      ],
      "id": "3b1ad705-d3e3-4a95-ab3f-49322f010a69",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "lA4C9cVl7Qb5axs1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('receber mensagens').item.json.message.chat.id }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        992,
        240
      ],
      "id": "5587f0b2-34ed-4e62-8688-7d902952e7fc",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Especialista Técnico e Tutor. Use para dúvidas técnicas",
        "workflowId": {
          "__rl": true,
          "value": "z49hjjPVei20SuiRqsQGH",
          "mode": "list",
          "cachedResultUrl": "/workflow/z49hjjPVei20SuiRqsQGH",
          "cachedResultName": "Agente de suporte"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem ": "={{ $json['Mensagem de texto '] }}",
            "chatid": "={{ $('receber mensagens').item.json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem ",
              "displayName": "mensagem ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatid",
              "displayName": "chatid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1008,
        -480
      ],
      "id": "ac429f1e-67a3-4094-89c1-1d918b618e96",
      "name": "Chamar 'Agente de suporte'"
    },
    {
      "parameters": {
        "content": "Aqui vai ficar armazenado os outros agentes de IA",
        "height": 144,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        -544
      ],
      "typeVersion": 1,
      "id": "df897036-35cc-4e34-b4ea-692ed62ba078",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "description": "Especialista em Sucesso do Cliente. Use para agendamentos e dúvidas institucionais.\n",
        "workflowId": {
          "__rl": true,
          "value": "P9QBwYFWipnmwxPpB4Z5H",
          "mode": "list",
          "cachedResultUrl": "/workflow/P9QBwYFWipnmwxPpB4Z5H",
          "cachedResultName": "Agente de Cs"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem ": "={{ $json['Mensagem de texto '] }}",
            "chatid": "={{ $('receber mensagens').item.json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem ",
              "displayName": "mensagem ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatid",
              "displayName": "chatid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1264,
        -480
      ],
      "id": "26082d80-1070-48e9-8f8e-df0a61757fdc",
      "name": "Call 'Agente de Cs'"
    },
    {
      "parameters": {
        "chatId": "={{ $('receber mensagens').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1296,
        -128
      ],
      "id": "c0de6b4f-f94b-4efd-a12d-d4dd2683409d",
      "name": "Send a text message",
      "webhookId": "32d06a41-f96a-40c4-826c-fd5e2dc89e4c",
      "credentials": {
        "telegramApi": {
          "id": "vTCXl0oFXE2DxvGq",
          "name": "recebimento de mensagens"
        }
      }
    },
    {
      "parameters": {
        "description": "Especialista em Sucesso do Cliente. Use para agendamentos e dúvidas institucionais.\n",
        "workflowId": {
          "__rl": true,
          "value": "WmbXMqXjrCFh2wTjdEkwB",
          "mode": "list",
          "cachedResultUrl": "/workflow/WmbXMqXjrCFh2wTjdEkwB",
          "cachedResultName": "Agente financeiro"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem ": "={{ $json['Mensagem de texto '] }}",
            "chatid": "={{ $('receber mensagens').item.json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem ",
              "displayName": "mensagem ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatid",
              "displayName": "chatid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1136,
        -496
      ],
      "id": "bd5e22ba-0dfa-41ec-8513-b9798f0efb1f",
      "name": "Call 'Agente financeiro'"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        512,
        -160
      ],
      "id": "f3e44781-5072-429e-a382-09478c8d97dd",
      "name": "Wait1",
      "webhookId": "90e08b9e-1c7e-4047-b960-4aabd8370576"
    }
  ],
  "pinData": {
    "receber mensagens": [
      {
        "json": {
          "update_id": 50417462,
          "message": {
            "message_id": 22,
            "from": {
              "id": 7378147753,
              "is_bot": false,
              "first_name": "Miguel",
              "last_name": "Viana",
              "language_code": "pt-br"
            },
            "chat": {
              "id": 7378147753,
              "first_name": "Miguel",
              "last_name": "Viana",
              "type": "private"
            },
            "date": 1770263282,
            "text": "olá, boa noite!"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "receber mensagens": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Armzenar informações(orgazinar)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Armzenar informações(orgazinar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armzenar informações(orgazinar)1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armzenar informações(orgazinar)": {
      "main": [
        [
          {
            "node": "Gerente das outras IAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gerente das outras IAS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Gerente das outras IAS",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chamar 'Agente de suporte'": {
      "ai_tool": [
        [
          {
            "node": "Gerente das outras IAS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Agente de Cs'": {
      "ai_tool": [
        [
          {
            "node": "Gerente das outras IAS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gerente das outras IAS": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Agente financeiro'": {
      "ai_tool": [
        [
          {
            "node": "Gerente das outras IAS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Gerente das outras IAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b2c1009a-229c-4034-99ab-245435e9aa17",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d541ed176770b755d1e5255253e1c113c8b0f4947612ddadaa30b8f666a3b9b"
  },
  "id": "8NJ_Onc9L-LyDP_0Np41E",
  "tags": []
}